<div class="col-md-12">
  <h2 class="text-center">我加入过的讨论版</h2>

  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>title</th>
      <th>description</th>
      <th>post count</th>
      <th>last update</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |g| %>
    <tr>
      <td>#</td>
      <td><%= g.title %></td>
      <td><%= g.description %></td>
      <td><%= g.posts.count %></td>
      <td><%= g.updated_at %></td>
    </tr>
    <% end %>
  </tbody>

  </table>
</div>
